---
layout: archive
title: "Code"
permalink: /code/
author_profile: true
---

<h3>The following links contain code to algorithms developed and used in our papers:</h3>
<ul>
<li><p style="font-size:15px"> <b> Convolutional neural networks for time series forecasting: </b> The following <a href="https://github.com/abrvkh/WaveNet_simple" style="text-decoration:underline;">link </a> contains the code used in the paper "Conditional time series forecasting with convolutional neural networks". This code allows to train a convolutional neural network based on the WaveNet architecture for the forecasting of time series. It can be applied to e.g. financial time series, weather forecasting.</p></li>
<li><p style="font-size:15px"> <b> Training neural networks for solving PDEs: </b> The following <a href="" style="text-decoration:underline;">link </a> contains the code used in the paper "Optimally weighted loss functions for solving PDEs with neural networks". This code allows to train a neural network using Tensorflow for learning the solution to a wide variety of PDEs.</p></li>

</ul>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
