---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<h3> 2019 </h3>
<p><a href="https://arxiv.org/pdf/1904.10523.pdf" style="text-decoration:underline;"> A neural network-based framework for financial model calibration</a> S. Liu, A. Borovykh, L. A. Grzelak, C.W. Oosterlee, <i>2019 </i></p>
<h3> 2018 </h3>
<p><a href="https://arxiv.org/pdf/1902.05312.pdf" style="text-decoration:underline;"> Generalisation in fully-connected neural networks for time series forecasting</a> A. Borovykh, S. Bohte, C.W. Oosterlee, <i>2019 </i></p>
<h3> 2018 </h3>
<p><a href="https://abrvkh.github.io/files/GP_CNN.pdf", style="text-decoration:underline;"> A Gausian Process perspective on Convolutional Neural Networks</a> A. Borovykh, <i>2018</i></p>
<p><a href="https://arxiv.org/pdf/1710.00231.pdf" style="text-decoration:underline;"> Systemic risk in a mean-field model of interbank lending with self-exciting shocks</a> A. Borovykh, A. Pascucci, S. La Rovere, <i>IISE Transactions 50(9), pp. 806-819, 2018</i></p>
<p><a href="https://arxiv.org/pdf/1703.04691.pdf" style="text-decoration:underline;"> Conditional time series forecasting with convolutional neural networks</a> A. Borovykh, S. Bohte, C.W. Oosterlee, <i>Journal of Computational Finance, 2018 </i></p>
<p><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2853613" style="text-decoration:underline;"> Efficient Computation of Various Valuation Adjustments Under Local Lévy Models</a> A. Borovykh, A. Pascucci, C.W. Oosterlee, <i>SIAM Journal on Financial Mathematics 9 (1), 251-273, 2018</i></p>
<h3> 2017 </h3>
<p><a href="https://arxiv.org/pdf/1604.08735.pdf" style="text-decoration:underline;"> Pricing Bermudan options under local Lévy models with default</a> A. Borovykh, A. Pascucci, C.W. Oosterlee <i>Journal of Mathematical Analysis and Applications 459 (2), 929-953, 2017</i></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

