---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
A list of publications in both peer-reviewed journals and conferences is presented below. 
<h5> 2020 </h5>
<p style="font-size:15px"><a href="https://sites.google.com/view/optml-icml2020/accepted-papers" style="text-decoration:underline;"> To interact or not? The convergence properties of interacting stochastic mirror descent </a> A. Borovykh, N. Kantas, P. Parpas, G. Pavliotis<i> <a href="https://sites.google.com/view/optml-icml2020/" style = "text-decoration:underline;"> Workshop on "Beyond first-order methods in ML systems" at 36th International Conference on Machine Learning (ICML) 2020</a></i><br>
<p style="font-size:15px"><a href="https://arxiv.org/pdf/2002.06269.pdf" style="text-decoration:underline;"> Optimally weighted loss functions for solving PDEs with neural networks </a> R. van der Meer, C.W. Oosterlee, A. Borovykh <i>Submitted </i><br>
<p style="font-size:15px"><a href="https://arxiv.org/pdf/2001.11786.pdf" style="text-decoration:underline;"> On Calibration Neural Networks for extracting implied information from American options</a> S. Liu, A. Leitao, A. Borovykh, C.W. Oosterlee <i>Submitted </i><br>
<p style="font-size:15px"><a href="https://arxiv.org/pdf/1912.08526.pdf" style="text-decoration:underline;"> Analytic expressions for the output evolution of a deep neural network</a> A. Borovykh <i>Submitted </i><br>
<h5> 2019 </h5>
<p style="font-size:15px"><a href="https://abrvkh.github.io/files/gen_nn_v1.pdf" style="text-decoration:underline;"> The effects of optimization on generalization in infinitely wide neural networks</a> A. Borovykh, <i><a href="https://sites.google.com/view/icml2019-generalization/home" style = "text-decoration:underline;"> Workshop on Understanding and Improving Generalization in Deep Learning at the 36th International Conference on Machine learning (ICML) 2019 </a></i><br>

<p style="font-size:15px"><a href="https://arxiv.org/pdf/1904.10523.pdf" style="text-decoration:underline;"> A neural network-based framework for financial model calibration</a> S. Liu, A. Borovykh, L. A. Grzelak, C.W. Oosterlee, <i>Journal of Mathematics in Industry 9 (1), 2019 </i><br>
<p style="font-size:15px"><a href="https://arxiv.org/pdf/1902.05312.pdf" style="text-decoration:underline;"> Generalization in fully-connected neural networks for time series forecasting</a> A. Borovykh, S. Bohte, C.W. Oosterlee, <i>Journal of Computational Science 36, 2019</i> (A shortened version appeared in <i> <a href="http://roseyu.com/time-series-workshop/" style = "text-decoration:underline;">Time Series Workshop at the 36th International Conference on Machine learning (ICML) 2019 </a></i>)</p>

<h5> 2018 </h5>

<p style="font-size:15px"><a href="https://abrvkh.github.io/files/GP_CNN.pdf", style="text-decoration:underline;"> A Gausian Process perspective on Convolutional Neural Networks</a> A. Borovykh, <i>2018</i><br>
<p style="font-size:15px"><a href="https://arxiv.org/pdf/1710.00231.pdf" style="text-decoration:underline;"> Systemic risk in a mean-field model of interbank lending with self-exciting shocks</a> A. Borovykh, A. Pascucci, S. La Rovere, <i>IISE Transactions 50(9), 806-819, 2018</i><br>
<p style="font-size:15px"><a href="https://arxiv.org/pdf/1703.04691.pdf" style="text-decoration:underline;"> Conditional time series forecasting with convolutional neural networks</a> A. Borovykh, S. Bohte, C.W. Oosterlee, <i>Journal of Computational Finance, 22 (4), 73-101, 2018 </i><br>
<p style="font-size:15px"><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2853613" style="text-decoration:underline;"> Efficient Computation of Various Valuation Adjustments Under Local Lévy Models</a> A. Borovykh, A. Pascucci, C.W. Oosterlee, <i>SIAM Journal on Financial Mathematics 9 (1), 251-273, 2018</i><br>

<h5> 2017 </h5>

<p style="font-size:15px"><a href="https://arxiv.org/pdf/1604.08735.pdf" style="text-decoration:underline;"> Pricing Bermudan options under local Lévy models with default</a> A. Borovykh, A. Pascucci, C.W. Oosterlee <i>Journal of Mathematical Analysis and Applications 459 (2), 929-953, 2017</i></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

