---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h3>My current research projects:</h3>
<ul>
<li><p style="font-size:15px"><b>Sampling vs. optimization: </b> Exploit tools from optimization and sampling to obtain convergence guarantees for optimization algorithms </p></li>
<li><p style="font-size:15px"><b>Distributed optimization:</b> In a setting where data is distributed across devices or servers we are interested in how to define the information exchange to balance communication costs and convergence speed </p></li>
<li><p style="font-size:15px"><b>Federated learning and privacy:</b> Understand how to guarantee privacy in learning algorithms </p></li>
<li><p style="font-size:15px"><b>Explainability: </b> Relating the output of a deep neural network to simpler-to-analyze objects in order to gain insight into their behavior  </p></li>
<li><p style="font-size:15px"><b>Data generation: </b> Generating datasets to enhance small datasets for the purpose of trainng models or to create datasets which are realistic but account for privacy constraints  </p></li>
</ul>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

