---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<h3> Upcoming talks </h3>
<p><a> International Conference on Computational Finance 2019</a>, July '19, A Coruna, Spain </p>
<p><a> International Congress on Industrial and Applied Mathematics 2019</a>, July '19, Valencia, Spain </p>
<h3> Conference talks </h3>
<p><a> 18th Winter school on Mathematical Finance, Lunteren, the Netherlands </a>, Januari '19, Lunteren, the Netherlands</p>
<p><a> International Conference on Numerical Analysis and Applied Mathematics 2018 </a>, September '18, Rhodes, Greece</p>
<p><a href="http://www.siam.org/meetings/an18/" style="text-decoration:underline;"> 2018 SIAM Annual Meeting </a> July '18, Portland, Oregon</p>
<p><a href="https://www.conferenceonline.com/conference_invitation.cfm?id=21717&key=F1EF0F1F-CE39-D6B1-35AA37845042D4A5" style="text-decoration:underline;"> Quantitative Methods in Finance Conference 2017 </a> December '17, Sydney, Australia</p>
<p><a href="http://cemapre.iseg.ulisboa.pt/iccf2017/" style="text-decoration:underline;"> 2nd International Conference on Computational Finance</a> September '17, Lisbon, Portugal</p>
<p><a href="https://sscdelft.github.io/activities/" style="text-decoration:underline;"> SIAM Student Computational Finance Day 2016 </a> May '16, Delft, the Netherlands</p>
<p><a href="http://icasqf.org" style="text-decoration:underline;"> Second International Congress on Actuarial Science and Quantitative Finance </a>  June '16, Cartagena, Colombia</p>

<h3> Poster presentations </h3>
<p><a href="https://e-nns.org/icann2017/" style="text-decoration:underline;"> International Conference on Artificial Neural Networks </a> September '17, Alghero, Italy</p>

<h3> Presentations to industry </h3>
‘Financial forecasting with neural networks’, presented at VORtech Delft, Prometeia Milan, EY Amsterdam
‘Efficient computation of various valuation adjustments (XVA) under local Lévy models’, presented at Banca IMI Milan, Prometeia Bologna



{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
