---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<h5> Upcoming talks </h5>
<p style="font-size:15px"><a> International Conference on Computational Finance 2019</a>, July '19, A Coruna, Spain <br>
<a> International Congress on Industrial and Applied Mathematics 2019</a>, July '19, Valencia, Spain <br>
<a href = "https://www.siam.org/Conferences/CM/Conference/fm19" style="text-decoration:underline;"> SIAM Conference on Financial Mathematics and Engineering 2019</a>, June '19, Toronto, Canada </p>

<h5> Conference talks </h5>
<p style="font-size:15px"><a> 18th Winter school on Mathematical Finance, Lunteren, the Netherlands, </a> January '19, Lunteren, the Netherlands<br>
<a> International Conference on Numerical Analysis and Applied Mathematics 2018 </a>, September '18, Rhodes, Greece<br>
<a href="http://www.siam.org/meetings/an18/" style="text-decoration:underline;"> 2018 SIAM Annual Meeting </a> July '18, Portland, Oregon<br>
<a href="https://www.conferenceonline.com/conference_invitation.cfm?id=21717&key=F1EF0F1F-CE39-D6B1-35AA37845042D4A5" style="text-decoration:underline;"> Quantitative Methods in Finance Conference 2017 </a> December '17, Sydney, Australia<br>
<a href="http://cemapre.iseg.ulisboa.pt/iccf2017/" style="text-decoration:underline;"> 2nd International Conference on Computational Finance</a> September '17, Lisbon, Portugal<br>
<a href="https://sscdelft.github.io/activities/" style="text-decoration:underline;"> SIAM Student Computational Finance Day 2016 </a> May '16, Delft, the Netherlands<br>
<a href="http://icasqf.org" style="text-decoration:underline;"> Second International Congress on Actuarial Science and Quantitative Finance </a>  June '16, Cartagena, Colombia</p>

<h5> Poster presentations </h5>
<p style="font-size:15px"><a href="https://e-nns.org/icann2017/" style="text-decoration:underline;"> International Conference on Artificial Neural Networks </a> September '17, Alghero, Italy</p>

<h5> Presentations to industry </h5>
<p style="font-size:15px">‘Financial forecasting with neural networks’, presented at VORtech Delft, Prometeia Milan, EY Amsterdam <br>
‘Efficient computation of various valuation adjustments (XVA) under local Lévy models’, presented at Banca IMI Milan, Prometeia Bologna</p>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
