---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<h3> Talks </h3>
<p><a href="https://www.conferenceonline.com/conference_invitation.cfm?id=21717&key=F1EF0F1F-CE39-D6B1-35AA37845042D4A5" style="text-decoration:underline;"> Quantitative Methods in Finance Conference 2017 </a> (December '17, Sydney, Australia)</p>
<p><a href="http://cemapre.iseg.ulisboa.pt/iccf2017/" style="text-decoration:underline;"> 2nd International Conference on Computational Finance</a> (September '17, Lisbon, Portugal)</p>
<p><a href="https://sscdelft.github.io/activities/" style="text-decoration:underline;"> SIAM Student Computational Finance Day 2016 </a>(May '16, Delft, the Netherlands)</p>
<p><a href="http://icasqf.org" style="text-decoration:underline;"> Second International Congress on Actuarial Science and Quantitative Finance </a> (June '16, Cartagena, Colombia)</p>

<h3> Posters </h3>
<p><a href="https://e-nns.org/icann2017/" style="text-decoration:underline;"> International Conference on Artificial Neural Networks </a>(September '17, Alghero, Italy)</p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
